html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  line-height: 1;
  color: #555555;
}
section,
article,
aside,
header,
footer,
nav,
dialog,
figure {
  display: block;
}
figure {
  margin: 0;
}
ul,
ol,
li {
  list-style: none outside;
}
a {
  text-decoration: none;
  outline: 0 none;
  color: #788eb7;
}
a:hover {
  text-decoration: none;
}
a:active {
  outline: none;
}
i,
em {
  font-style: normal;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
fieldset,
img {
  border: none;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: none;
  height: 1px;
  background-color: #e9e9e9;
}
textarea,
input {
  resize: none;
  outline: none;
}
textarea {
  resize: none;
  -webkit-appearance: none;
  border: 1px solid #cccccc;
}
b {
  font-weight: normal;
}
del {
  font-family: Arial;
}
img {
  vertical-align: middle;
}
label,
button {
  cursor: pointer;
}
.clearfix:after {
  content: "\20";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
  position: relative;
}
.Hide {
  display: none !important;
}
a,
button,
input,
div,
span,
li {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a:focus {
  outline: 0;
}
input {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 12px;
}
.Hide,
.hide {
  display: none;
}
.transparent {
  opacity: 0 !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: "\20";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.doClearFix::after {
  content: "\20";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.OnePxBorder {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAbSURBVAiZY/z//z8DAwMDA8ujR4/+MzAwMAAAR50GqOe+oUMAAAAASUVORK5CYII=) repeat-x 0 bottom;
  background-size: auto 1px;
  height: 0px;
}
.OnePxBorder-Gray {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAbSURBVAiZY/z//z8DAwMDA8ujR4/+MzAwMAAAR50GqOe+oUMAAAAASUVORK5CYII=) repeat-x 0 bottom;
  background-size: auto 1px;
  height: 0px;
}
.OnePxBorder-Orange {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAZSURBVAiZBcEBDQAACMAg3Kxu7gtTgXUTPDi8BIiclzm3AAAAAElFTkSuQmCC) repeat-x 0 bottom;
  background-size: auto 1px;
  height: 0px;
}
.fix {
  position: fixed;
}
@font-face {
  font-family: 'iconfont';
  src: url('i/iconfont/iconfont.eot');
  /* IE9*/
  src: url('i/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('i/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */ url('i/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('i/iconfont/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body.dpf2e {
  background-color: #f0f0f0;
}
body.dpf2e em.arrow {
  display: block;
  padding-left: 7px;
}
body.dpf2e em.arrow::after {
  content: "";
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: solid 2px #bbb;
  border-left: none;
  border-bottom: none;
  display: block;
}
body.dpf2e em.arrow.left::after {
  -ms-transform: rotate(-135deg);
  /* IE 9 */
  -webkit-transform: rotate(-135deg);
  /* Safari and Chrome */
  -o-transform: rotate(-135deg);
  /* Opera */
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  position: relative;
  right: -2px;
}
body.dpf2e em.arrow.right::after {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  right: 2px;
}
body.dpf2e em.arrow.top::after {
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari and Chrome */
  -o-transform: rotate(-45deg);
  /* Opera */
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: 3px;
}
body.dpf2e em.arrow.bottom::after {
  -ms-transform: rotate(135deg);
  /* IE 9 */
  -webkit-transform: rotate(135deg);
  /* Safari and Chrome */
  -o-transform: rotate(135deg);
  /* Opera */
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
  position: relative;
  top: -2px;
}
body.dpf2e .border {
  position: relative;
  overflow: hidden;
  height: 1px;
  background-color: #fff;
}
body.dpf2e .border::after {
  content: "";
  display: block;
  background-size: auto 1px;
  height: 1px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAbSURBVAiZY/z//z8DAwMDA8ujR4/+MzAwMAAAR50GqOe+oUMAAAAASUVORK5CYII=) repeat-x 0 bottom;
}
body.dpf2e .border.full-size {
  padding: 0 0;
}
body.dpf2e .border.mid-size {
  padding: 0 0 0 15px;
}
body.dpf2e .border.compact-size {
  padding: 0 10px;
}
body.dpf2e p.title {
  font-size: 14px;
  line-height: 45px;
  color: #999;
  height: 45px;
  padding: 0 15px;
}
body.dpf2e p.description {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  padding: 10px 15px;
}
body.dpf2e .form-group {
  display: table;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  position: relative;
  color: #999;
  background-color: #fff;
  padding: 0 15px;
}
body.dpf2e .form-group .control-label {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  text-align: right;
  padding-right: 9px;
}
body.dpf2e .form-group .form-control {
  float: left;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  color: #333;
  vertical-align: middle;
  text-align: right;
  display: table-cell;
  border: none;
}
body.dpf2e .form-group .form-control.middle {
  width: 60px;
  color: #999;
}
body.dpf2e .form-group .stepper input {
  position: relative;
  height: 30px;
  border-radius: 0;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #bbb;
  font-weight: 700;
  font-size: 12px;
  color: #333;
  width: 46px;
  box-sizing: border-box;
}
body.dpf2e .form-group .stepper button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
}
body.dpf2e .form-group .stepper button.disabled {
  border-color: #ececec !important;
}
body.dpf2e .form-group .stepper button.disabled::before,
body.dpf2e .form-group .stepper button.disabled::after {
  background-color: #ececec !important;
}
body.dpf2e .form-group .stepper button.highlight {
  border-color: #ff6633 !important;
}
body.dpf2e .form-group .stepper button.highlight::before,
body.dpf2e .form-group .stepper button.highlight::after {
  background-color: #ff6633 !important;
}
body.dpf2e .form-group .stepper button.minus {
  margin-right: 5px;
}
body.dpf2e .form-group .stepper button.minus::before {
  content: "\20";
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  border: none;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
  background-color: #bbb;
}
body.dpf2e .form-group .stepper button.plus {
  margin-left: 5px;
}
body.dpf2e .form-group .stepper button.plus::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  border: none;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
  background-color: #bbb;
}
body.dpf2e .form-group .stepper button.plus::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 10px;
  border-radius: 1px;
  border: none;
  top: 50%;
  left: 50%;
  margin-left: -1px;
  margin-top: -5px;
  background-color: #bbb;
}
body.dpf2e .form-group input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
  line-height: 24px;
  text-align: right;
  font-size: 16px;
}
body.dpf2e .form-group input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
body.dpf2e .form-group input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
body.dpf2e .form-group input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
body.dpf2e .form-group .form-addon {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  text-align: right;
}
